<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Common tools -->
  <package id="adobereader" />
  <package id="choco-cleaner" />

  <!-- Media tools -->
  <package id="potplayer" />
  <package id="k-litecodecpackfull" />
  <package id="xysubfilter" />

  <!-- Game tools -->
  <package id="steam" />

  <!-- Network tools -->
  <package id="firefox" />
  <package id="googlechrome" />
  <package id="dropbox" />

  <!-- Develop tools -->
  <package id="jre8" />
  <package id="git" />
  <package id="vscode" />
  <package id="notepadplusplus" />
  <package id="virtualbox" />
  <package id="docker-cli" />
  <package id="docker-machine" />
  <package id="docker-compose" />
  <package id="heroku-cli" />
</packages>