<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Common tools -->
  <package id="adobereader" />
  <package id="7zip" />
  <package id="aria2" />

  <!-- Media tools -->
  <package id="vlc" />
  <package id="potplayer" />
  <package id="k-litecodecpackfull" />
  <package id="xysubfilter" />

  <!-- Game tools -->
  <package id="steam" />

  <!-- System tools -->
  <package id="hwmonitor" />
  <package id="crystaldiskinfo" />
  <package id="crystaldiskmark" />
  <package id="coretemp" />
  <package id="cpu-z" />
  <package id="gpu-z" />
  <package id="ddu" />

  <!-- Network tools -->
  <package id="firefox" />
  <package id="googlechrome" />
  <package id="dropbox" />
  <package id="qbittorrent" />
  <package id="persepolis" />
  <package id="anydesk" />
  <package id="winscp" />
  <package id="putty" />

  <!-- Develop tools -->
  <package id="nvm" />
  <package id="python3" />
  <package id="cmder" />
  <package id="git" />
  <package id="vim" />
  <package id="vscode" />
  <package id="notepadplusplus" />
  <package id="virtualbox" />
  <package id="docker-cli" />
  <package id="docker-machine" />
  <package id="docker-compose" />
  <package id="sharpkeys.portable" />
  <package id="heroku-cli" />
  <package id="sudo" />
</packages>