<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="firefox" />
  <package id="googlechrome" />
  <package id="git" />
  <package id="vim" />
  <package id="vscode" />
  <package id="notepadplusplus" />
  <package id="adobereader" />
  <package id="dropbox" />
  <package id="winscp" />
  <package id="putty" />
  <package id="7zip" />
  <package id="potplayer" />
  <package id="cmder" />
  <package id="anydesk" />
  <package id="python3" />
  <package id="qbittorrent" />
  <package id="persepolis" />
  <package id="virtualbox" />
  <package id="docker-cli" />
  <package id="docker-machine" />
  <package id="docker-compose" />
  <package id="sharpkeys.portable" />
  <package id="heroku-cli" />
  <package id="sudo" />
</packages>